body {
font-family: "Lato", "georgia", sans-serif;
font-size: 100%;
background-color: #ffffff;
line-height: 2;
margin: 0;
}
* {
box-sizing: border-box;
}
h1 {
font-family: "poppins", sans-serif;
font-weight: 700;
font-size: 2.5rem;
line-height: 2rem;
margin-top: 0;
margin-bottom: 0;
text-align: center;
}
.logo {
background-color: #082b59;
border: 5px solid #082b59;
text-align: center;
margin: 0;
}
.logo img:hover {
border: 5px solid #d98555;
border-radius: 12px;
}
nav {
background-color: #082b59;
color: white;
padding-left: 20%;
padding-right: 20%;
padding-bottom: 2%;
font-size: 1.35rem;
}
.flex-container {
display: flex;
flex-direction: column;
}
.desknav {
background-color: #082b59;
border-bottom: 12px solid #d98555;
}
.flex-container div {
padding: .5rem 0;
text-align: center;
}
#about a,
#products a,
#contact a {
color: #f2f2f2;
text-decoration: none;
border-radius: 12px;
padding: 0.5rem 1rem;
}
nav span {
padding-right: 10px;
}
#about a:hover,
#products a:hover,
#contact a:hover {
color: #082b59;
background-color: #f2f2f2;
border-radius: 12px;
padding-top: 0.5rem 1rem;
}
.social {
text-align: center;
padding-bottom: 1rem;
margin-bottom: 0;
}
.social a {
color: #f2f2f2;
font-size: 1.75rem;
padding: 0.25rem 1rem;
margin-right: 1rem;
}
.social a:last-child {
margin-right: 0;
}
.social a:hover {
color: #082b59;
background-color: #f2f2f2;
border-radius: 12px;
}
.copyright {
    text-align: center;
    padding: 0.5rem 1.75rem; 
}
footer {
    background-color: #082b59;
    color: #f2f2f2;
}
footer p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.productcards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 40px;
    margin: 40px 12% 0 12%;
}
.card {
    border-radius: 12px;
    margin: 0;
    display: grid;
    /*grid-template-columns: 60vw;*/
    grid-template-rows: 1fr min-content 2fr;
}
.card img {
    width: 100%;
}
.card button {
  padding: .75rem 3rem;
  color: #f2f2f2;
  background-color: #082b59;
  border-radius: 12px;
  border: none;
  font-family: "poppins", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 1rem 0;
}
.card a {
  color: #f2f2f2;
  text-decoration: none;
}
.card button:hover {
  background-color: #f2f2f2;
  color: #082b59;
}
.card h2 {
  line-height: 1.35;
  background-color: #d98555;
  margin: 0;
  padding: .75rem 1rem 0 1rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card p {
  line-height: 1.65;
  background-color: #59331d;
  color: #f2f2f2;
  margin: 0;
  padding: .5rem 1rem;
}
p.details-button {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.roast-styles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    margin: 50px 8% 0 8%;
}
.roast-styles h1 {
    grid-row: 1/2;
}
.roast-styles img {
    display: none;
    grid-row: 2/3;
    width: auto;
    max-height: 40vw;
    margin: 0 auto;
    border-radius: 12px;
}

.beans {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    overflow: clip;
    overflow-clip-margin: 0;
}
.beans-loose {
    min-width: 1200px;
    align-self: flex-end;
}

@media (min-width: 1200px) {
  .beans-loose {
    width: 100%;
  }
  .container {
    line-height: 2;
  }
}

@media (min-width: 800px) {
  h1 {
    text-align: left;
  }
  .desknav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 8%;
    padding-right: 8%;
  }
  .logo {
    text-align: left;
  }
  div.logo {
    grid-row: 1/span 2;
  }
  img.logo {  
    padding-left: 0;
  }
  .flex-container {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    grid-row: 2/span 1;
    justify-content: right;
  }
  .productcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    column-gap: 40px;
    row-gap: 40px;
    margin-top: 40px;
  }
  .card img {
    width: 100%;
  }
    
  .roast-styles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 8% 0 8%;
  }
  .roast-styles h1 {
    flex-basis: 42%;
    margin: 75px 0;
  }
  .roast-styles img {
    border-radius: 12px;
    width: auto;
    max-height: 225px;
    aspect-ratio: 500/335;
    margin: 0 8%;
  }
}