body {
font-family: "Lato", "georgia", sans-serif;
font-size: 100%;
background-color: #ffffff;
line-height: 2;
margin: 0;
}
* {
box-sizing: border-box;
}
h1 {
font-family: "poppins", sans-serif;
font-weight: 700;
font-size: 2.5rem;
line-height: 2rem;
margin-top: 0;
margin-bottom: 0;
text-align: center;
}
.logo {
background-color: #082b59;
border: 5px solid #082b59;
text-align: center;
margin: 0;
}
.logo img:hover {
border: 5px solid #d98555;
border-radius: 12px;
}
nav {
background-color: #082b59;
color: white;
padding-left: 20%;
padding-right: 20%;
padding-bottom: 2%;
font-size: 1.35rem;
}
.flex-container {
display: flex;
flex-direction: column;
}
.desknav {
background-color: #082b59;
border-bottom: 12px solid #d98555;
}
.flex-container div {
padding: .5rem 0;
text-align: center;
}
#about a,
#products a,
#contact a {
color: #f2f2f2;
text-decoration: none;
border-radius: 12px;
padding: 0.5rem 1rem;
}
nav span {
padding-right: 10px;
}
#about a:hover,
#products a:hover,
#contact a:hover {
color: #082b59;
background-color: #f2f2f2;
border-radius: 12px;
padding-top: 0.5rem 1rem;
}
.social {
text-align: center;
padding-bottom: 1rem;
margin-bottom: 0;
}
.social a {
color: #f2f2f2;
font-size: 1.75rem;
padding: 0.25rem 1rem;
margin-right: 1rem;
}
.social a:last-child {
margin-right: 0;
}
.social a:hover {
color: #082b59;
background-color: #f2f2f2;
border-radius: 12px;
}
.copyright {
    text-align: center;
    padding: 0.5rem .75rem; 
}
footer {
    background-color: #082b59;
    color: #f2f2f2;
}
footer p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.productcards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 40px;
    margin: 40px 8% 0 8%;
}
.card {
    border-radius: 12px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.3fr 6.7fr;
}
.coffee-pic {
  display: grid;
}
.coffee-pic img {
  width: auto;
  height: inherit;
  max-height: 40vw;
  margin: 0 auto;
  border-radius: 12px;
}
.coffee-pic picture {
  max-height: 40vw;
  margin: 0 auto;
}
picture source {
  display: none;
}

.card h2 {
    line-height: 1.35;
    background-color: #d98555;
    margin: 0;
    padding: .75rem 1rem 0 1rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card p {
    line-height: 1.65;
    background-color: #59331d;
    color: #f2f2f2;
    margin: 0;
    padding: .35rem 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.roast-styles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    margin: 50px 8% 0 8%;
}
.roast-styles h1 {
    grid-row: 1/2;
}
.roast-styles img {
    grid-row: 2/3;
    width: auto;
    max-height: 40vw;
    margin: 0 auto;
    border-radius: 12px;
}

.beans {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    overflow: clip;
    overflow-clip-margin: 0;
}
.beans-loose {
    min-width: 1200px;
    align-self: flex-end;
}

@media (min-width: 1200px) {
  .beans-loose {
    width: 100%;
  }
  .container {
    line-height: 2;
  }
}

@media (min-width: 800px) {
  h1 {
    text-align: left;
  }
  .desknav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 8%;
    padding-right: 8%;
  }
  .logo {
    text-align: left;
  }
  div.logo {
    grid-row: 1/span 2;
  }
  img.logo {  
    padding-left: 0;
  }
  .flex-container {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    grid-row: 2/span 1;
    justify-content: right;
  }
  .productcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    column-gap: 40px;
    row-gap: 40px;
    margin-top: 40px;
    width: 30vw;
    height: min-content;
  }
  .coffee-pic {
    display: grid;
  }
  #card1 {
    grid-column: 1/span 1;
    grid-row: 1/2;
  } 
  #pic1 {
    grid-column: 2/span 1;
    grid-row: 1/2;
    max-width: 500px;
  }
  .coffee-pic img {
    width: auto;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 12px;
  }
  #card2 {
    grid-column: 3/span 1;
    grid-row: 1/2;
  }
  #pic2 {
    grid-column: 1/span 1;
    grid-row: 2/3;
    max-width: 500px;
  }
  #card3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  .roast-styles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 8% 0 8%;
  }
  .roast-styles h1 {
    flex-basis: 42%;
    margin: auto 0;
  }
  .roast-styles img {
    border-radius: 12px;
    width: auto;
    max-height: 225px;
    aspect-ratio: 500/335;
    margin: 0 8%;
  }
}