body {
  font-family: 'Noto Serif Georgian', serif; 
  letter-spacing: 1px;
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1,h2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 3rem;
}
h3 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
}
.designs-by { 
  background-color: #ffffee;
  color: #000000;
}
.case-studies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3%;
  background-color: #ffffee;
  padding-top: 25px;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
.case-studies div {
  /*width: 400px;*/
  margin: 0 2% 0 2%;
}
.content {
  /*border: 1px solid red;*/
  padding: 0 3% 0 3%;
}
.content h3 {
  background-color: #9f3f33;
  color: #ffffee;
  border-radius: 1rem;
  padding: .15rem .65rem;
}
.first {
  grid-column-start: 1;
  grid-column-end: 2;
  /*grid-row-start: 2;
  grid-row-end: 2;*/
}

.case-studies img {
  object-fit: contain;
  width: 100%;
  height: 350px;
}
.case-studies h2 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #9f3f33;
  color: #ffffee;
  border-radius: 1rem;
  padding: .15rem .65rem;
}
.about {
  display: flex;
  flex-direction: row;
  background-color: #9f3f33;
  color: #ffffee;
  padding-top: 150px;
  padding-bottom: 5%;
}
.about h1 {
  margin-top: 0;
}
.about article {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding-left: 15%;
  padding-right: 10%;
}
.about p {
  width: 100%;
}
.about button {
  width: 70%;
}
.about img {
 width: 50%;
 padding-right: 15%;
}
.block1 #logo {
  font-size: 2.5rem;
  flex-basis: 85%;
  font-family:  'DM Sans', sans-serif;
  letter-spacing: 3px;
}
.block1 {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
  padding: 25px 0 150px 0;
}
.block1 div {
  padding: 0 20px 0 20px;
}
.block1 a {
  text-decoration: none;
  color: #000000;
}
#resume {
    display: none;
}
.focus {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 100px;
  background-color: #9f3f33;
  color: #ffffee;
}
.focus article {
  padding: 0 10% 0 10%;
  flex-basis: 50%;
}
.focus article button {
  visibility: hidden; 
}
.focus aside button {
    visibility: visible; 
  }
.focus h1 {
  margin-top: 0;
}
.focus aside {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-evenly;
  text-align: left;
  padding-right: 10%;
}
.focus aside img {
    display: flex;
  object-fit: contain;
  width: 100%;
  justify-content: center;
}
button {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 15px;
  background-color: #ffffed;
  color: #9f3f33;
}
@media (max-width:700px) {
  .block1 {
    flex-wrap: wrap;
  }
  .block1 #logo {
    flex-basis: 100%;
  }
  .block1 #home, .block1 #resume {
    flex-basis: 35vw;
    padding: .75rem 20px .75rem 10vw;
    text-align: start;
  }
  .block1 #about, .block1 #contact {
    flex-basis: 35vw;
    padding: .75rem 60px .75rem 10vw;
    text-align: start;
  }
  .focus {
    flex-direction: column;
  }
  .focus aside {
    padding-left: 8%;
    padding-right: 8%;
  }
  .focus aside img {
    padding: 50px 0 50px 0;
  }
  .case-studies {
    grid-template-columns: auto;
    grid-template-rows: 45px repeat(4, 1fr);
    row-gap: 3vw;
  }
  .case-studies h2 {
    grid-row: 1/2;
    margin: 0;
  }
  .first {
    grid-row: 2/3;
  }
  .second {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .third {
    grid-row: 4/5;
    grid-column: 1/2;
  } 
  .fourth {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .about {
    flex-direction: column;
  }
  .about img {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    padding: 0;
    object-fit: contain;
    width: auto;
  }
}
@media (max-width:420px) {
  .block1 #home, .block1 #resume {
    flex-basis: 168px;
    padding: .75rem 20px .75rem 60px;
    text-align: start;
    width: 168px;
  }
   .block1 #about, .block1 #contact {
    flex-basis: 168px;
    padding: .75rem 20px .75rem 60px;
    text-align: start;
    width: 168px;
  }
}